
body {
	font: normal 12pt Arial;
	background-color: rgb(211, 211, 211);
}


a {
	text-decoration: none;
}


above-header {
	display: block;
	font-size: 0.75em;
	color: white;
	background-color: rgb(133, 132, 132);
	background-position: left -4.5em;
}
above-header > div {
	display: inline-block;
	width: 48%;
	padding: 0.25em;
}
above-header > div:last-child {
	text-align: right;
}
above-header form {
	display: inline-block;
}
above-header form button {
	background-color: transparent;
	border: none;
	font-size: 0.8em;
	margin-left: -2.5em;
}


.header {

	
	background-position: left -3em;
	padding: 0.5em;
	color: white;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #c2c2c4;
	
	font-size: 2em;
	display: block; 
	height:auto;
	position: relative; 
	overflow: hidden; 
	text-align: left;
}

.log {
	font-size: 1.5em;
	margin-right: 0.5em;
	padding: 0.5em;
	text-shadow: #d9d9dd;
}

nav {
	text-align: center;
	color: white;
	background-color: rgb(133, 132, 132);
	text-shadow: 0 0 2px #ffffff, 0 0 3px #d9d9dd;
	border-left: 0;
	border-right: 0;
	padding: 0.5em;
	word-spacing:1em;
	font-size: 1.5em;
}

.dodajO{
	font-size:1.5em;
}



error {
	font-weight: bold;
	color: red;
}
message {
	font-weight: bold;
	color: blue;
}
wrapper {
	display: block;
	padding: 0.5em;
}
footer {
	text-align: center;
	border-top: 1px solid rgb(255, 255, 255);
	margin-top: 2em;
	padding: 1em 0 2em;
	background-color: #00236e;
	background-image: linear-gradient(#aab6cf, #bac6df, #bac6df);
}
admin {
	font-size: 0.75em;
}




.dodaj{
	align-items: center;

}


page-news article  news-item {
	display: inline-block;
	border: 10px solid gray;
	text-align: center;
	position: relative;
	padding-bottom: 1em;
	
}

page-news article  news-item admin {
	display: block;
}

page-news article article-title {
	text-align: center;
	display: block;
	padding-bottom: 2em;
	font-size: 2em;
	
	
	 
}
page-news article  article-full {
	text-align: center;
	display: block;
	padding-bottom: 2em;
	font-size: 2em;
	
	
	 
}
page-news article  date {
	text-align: center;
	display: block;
	
}

page-news article article-publisher {
	text-align: center;
	display: block;
}

page-news article h2 {
	background-color: rgb(184, 184, 184);
	width: 300px;
	border: 15px solid rgb(184, 184, 184);
	padding: 50px;
	margin: 9px;
	
}
page-news article {
	margin-left: 200px;
}
	


/*//////////////////********************/*



page-gallery article gallery-item {
	display: inline-block;
	border: 1px solid gray;
	text-align: center;
	position: relative;
	
}
page-gallery article gallery-item img {
	display: block;
	height: 10em !important;
	width: auto;
}
page-gallery article gallery-item admin {
	display: block;
}
page-gallery article article-full {
	text-align: center;
	display: block;
}
page-gallery article article-full img {
	max-width: 80%;
	display: block;
	margin: 0.5em auto;
}

.pagetitle{

	text-align: center;
	
	text-shadow: 0 0 2px #FF0000, 0 0 3px #d9d9dd;
	border-left: 0;
	border-right: 0;
	padding: 0.5em;
	word-spacing:0.5em;
	
}

div.contact{

	display: flex;
	justify-content: center;
	align-items: center;
}
div.form
{
    display: flex;
  justify-content: center;
  align-items: center;
  
}
form{
	
	box-sizing: border-box;
	padding: 2rem;
	border-radius: 1rem;
	background-color: hsl(0, 0%, 100%);
	border: 4px solid hsl(0, 0%, 90%);
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}
page-login {

		display: block;
		
	font-style: italic;
	
}
page-login form input {
	display: block;
	

}

